{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="white-box">
    <h3>References used for this project study.</h3>
    <p>
        Below is a list of the articles, manuals, and research papers used
        for this project and are listed strictly for reference purposes.
    </p>

    <h4>Disclaimer of Endorsement.</h4>
    <p>
        Mention of or referral to commercial products or services, and/or
        links to non-EPA sites does not imply official EPA endorsement of or
        responsibility for the opinions, ideas, data, or products presented at
        those locations, or guarantee the validity of the information provided.
        Mention of commercial products/services on non-EPA websites is provided
        soley as a pointer to information on topics related to environmental
        protection that may be useful to EPA staff and the public.
    </p>

    <h4>Notice.</h4>
    <p>
        Information from the EPA website resides on numerous computer systems
        funded by the Agency. The use of the EPA websites may be monitored for
        computer security purposes. Any unauthorized access to the EPA website
        is prohibited and is subject to criminal and civil penalties under federal
        laws including, but not limited to, Public Law 99-474, the Computer Fraud
        and Abuse Act of 1986.
    </p>
</div>

{% endblock %}