{% extends 'main/base.html' %} {% load static %} {% block content %}
<h2>Team Management</h2>
<hr />
<h4>{{user.username}}'s Teams</h4>
<table class="usa-table">
  <thead>
    <tr>
      <th data-sortable scope="col">Team Name</th>
      <th data-sortable scope="col">Team Created By</th>
      <th data-sortable scope="col">Team Last Modified</th>
    </tr>
  </thead>
  <tbody>
    {% if teams %}
    {% for team in teams %}
    <tr id="{{team.id}}" onclick="rowClick('{{team.id}}')">
      <th scope="row">{{team.name}}</th>
      <td>{{team.created_by}}</td>
      <td>{{team.last_modified_date|date:"Y-m-d"}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="3">You aren't a member of any Teams!</td></tr>
    {% endif %}
  </tbody>
</table>
<div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>

<div class="button-group">
  <button class="usa-button modSelectedButton" onclick="viewEditTeam(this, 'edit')" disabled>
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#edit"></use>
    </svg>
    <span class="custom-icon-label">Edit Team</span>
  </button>
  <button class="usa-button modSelectedButton" onclick="viewEditTeam(this, 'manage')" disabled>
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#accessibility_new"></use>
    </svg>
    <span class="custom-icon-label">View/Manage Members</span>
  </button>
  <a class="usa-button" href="{% url 'team_create' %}">
    <svg class="usa-icon usa-icon--size-3">
      <use href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#add"></use>
    </svg>
    <span class="custom-icon-label">Create a new Team</span>
  </a>
</div>
{% endblock %}

{% block extend_js %}
<!-- NOTE: JQuery is already included inside base.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% endblock %} {% block scripts %}
<script>
  function viewEditTeam(btn, method) {
    if ($(btn).attr("disabled")) return;
    window.location.href = "/teams/team/" + $(btn).attr("id") + "/" + method;
  }
</script>
{% endblock %}
