{% extends 'main/base.html' %}
{% block content %}

<h3><a href="/disclaimers/" class="text-primary"><u>Disclaimers</u></a></h3>

<h1 class="page-title">GS End of Life for Plastic Additives</h1>

<h3>
    TODO Summary
</h3>

<p>
    TODO Description
</p>
<p>
    <strong>Key Words:</strong>
    Landfill diversion, waste management,
    sustainable materials management, plastics, lifecycle.
</p>

<div class="l-grid l-grid--2-col">
    <div>
        <h3>Software IV&V</h3>
        <p>
            Software IV&V on LRTD developed Open Source Software (OSS).
            Includes a systems engineering process employing rigorous methodologies
            for evaluating the correctness and quality of the software product throughout
            the SDLC. Software IV&V is adapted to the characteristics
            of each project as described in the approved QAPP and/or software planning document.
        </p>
    </div>
    <div>
        <h3>Data Management</h3>
        <p>
            ORD OLEM team members will track existing data using
            <strong>
                <a href="https://plasticsprojects.epa.gov/">
                    Existing Data and Information Search Tool
                </a>
            </strong>. Lab work will be tracked using the CESER approved Electronic Lab Notebook,
            <strong><a href="https://ordscinote.epa.gov/">SciNote</a></strong>.
        </p>
    </div>
</div>

{% endblock %}
