{% extends 'main/base.html' %}
{% block content %}

{% include 'scenario/_wizard_header.html' %}

<h3>Input {{page_title}} Values for Scenario {{scenario_id}}</h3>


<form method="post" >
    {% if form.errors %}
    <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
            <h5 class="usa-alert__heading">Please correct the following errors</h5>
            {% for field in form %}
                {% if field.errors %}
                <p class="usa-alert__text">{{field.label_tag}} {{ field.errors|striptags }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% csrf_token %}
    {{ form }}

    <div class="button-group">
        <button type="reset" class="usa-button">
            Reset Inputs
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#autorenew"></use>
            </svg>
        </button>
        <button type="submit" class="usa-button" >
            Next Page
            <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="https://www.epa.gov/themes/epa_theme/images/sprite.svg#navigate_next"></use>
            </svg>
        </button>
        <!-- First cut: Just redirect to the API URL (will show JSON in page) -->
        <!-- After that's working, change this to a button with onclick function. -->
        <!-- API call will then take place inside javascript and the fields will be auto-populated. -->
        <!-- There might be a better way to do this with Django, would need to google. -->
        <a id="autofillButton" class="usa-button">Autofill</a>
    </div>
</form>
{% endblock %}

{% block extend_js %}
<!-- NOTE: JQuery is already included inside base.html... -->
<!-- NOTE: Not sure why, but JQuery won't work unless I include again here. -->
<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
{% endblock %}
{% block scripts %}
<script>
    function setDefaults(defaults) {
    for (var key in defaults){
            $(`#${key}`).val(defaults[key]);
            // console.log(key);
        }
    }

    $(document).ready(function () {
        var defaults = {{defaults|safe}};
        $("#autofillButton").on('click', function() {
            setDefaults(defaults);
        })
    });
</script>
{% endblock %}