{% extends 'main/base.html' %}
{% block content %}

<h3>Create new Plastics EoL Scenario</h3>

<!-- {# action="{{post_url}}" #} -->
<form method="post" >
    {% if form.errors %}
    <div class="usa-alert usa-alert--error" role="alert">
        <div class="usa-alert__body">
            <h5 class="usa-alert__heading">Please correct the following errors</h5>
            {% for field in form %}
                {% if field.errors %}
                <p class="usa-alert__text">{{field.label_tag}} {{ field.errors|striptags }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% csrf_token %}
    {{ form }}

    <div class="button-group">
        <button type="submit" class="usa-button">Save</button>
        <button type="reset" class="usa-button">Reset</button>
        <button type="reset" onclick="window.location.href='/scenario/'" class="usa-button button--danger">
            Cancel
        </button>
    </div>
</form>
{% endblock %}
