<h3 class="site-preview-heading">Scenario Creation Progress</h3>
<!-- <div class="usa-step-indicator usa-step-indicator--counters-sm" aria-label="progress"> -->
<div class="usa-step-indicator" aria-label="progress">
    <ol class="usa-step-indicator__segments">
        <li class="usa-step-indicator__segment {{conditions_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Conditions <span class="usa-sr-only">{{conditions_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{msw_composition_status_css}}">
            <span class="usa-step-indicator__segment-label">
                MSW Composition <span class="usa-sr-only">{{msw_composition_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{msw_recycling_status_css}}">
            <span class="usa-step-indicator__segment-label">
                MSW Recycling <span class="usa-sr-only">{{msw_recycling_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{msw_incineration_status_css}}">
            <span class="usa-step-indicator__segment-label">
                MSW Incineration <span class="usa-sr-only">{{msw_incineration_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{msw_landfill_status_css}}">
            <span class="usa-step-indicator__segment-label">
                MSW Landfill <span class="usa-sr-only">{{msw_landfill_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{msw_compost_status_css}}">
            <span class="usa-step-indicator__segment-label">
                MSW Compost <span class="usa-sr-only">{{msw_compost_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{plastic_recycling_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Plastic Recycling <span class="usa-sr-only">{{plastic_recycling_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{incinerated_plastic_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Incinerated Plastic <span class="usa-sr-only">{{incinerated_plastic_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{landfilled_plastic_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Landfilled Plastic <span class="usa-sr-only">{{landfilled_plastic_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{reported_recycled_masses_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Reported Recycled Masses <span class="usa-sr-only">{{reported_recycled_masses_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{imported_plastic_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Imported Plastic <span class="usa-sr-only">{{imported_plastic_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{exported_plastic_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Exported Plastic <span class="usa-sr-only">{{exported_plastic_status_span}}</span>
            </span>
        </li>
        <li class="usa-step-indicator__segment {{re_exported_plastic_status_css}}">
            <span class="usa-step-indicator__segment-label">
                Re-Exported  Plastic <span class="usa-sr-only">{{re_exported_plastic_status_span}}</span>
            </span>
        </li>
    </ol>
</div>