<script src="https://www.epa.gov/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>
<script src="https://www.epa.gov/core/assets/vendor/css-escape/css.escape.js?v=1.5.1"></script>
<script src="https://www.epa.gov/core/assets/vendor/jquery-once/jquery.once.min.js?v=2.2.3"></script>
<script src="https://www.epa.gov/core/misc/drupalSettingsLoader.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/misc/drupal.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/misc/drupal.init.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/assets/vendor/picturefill/picturefill.min.js?v=3.0.3"></script>
<script src="https://www.epa.gov/core/assets/vendor/tabbable/index.umd.min.js?v=5.2.0"></script>
<script src="https://www.epa.gov/modules/custom/epa_wysiwyg/js/plugins/epaNew/epaNew.js?r33yib"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/common.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/scripts.min.js?v=9.2.6"></script>

<script src="https://www.epa.gov/themes/epa_theme/js/dist/sitewide-alert.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/definition.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/external-links.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/media-link.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/themes/epa_theme/js/dist/hero-slideshow.min.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/assets/vendor/jquery-form/jquery.form.min.js?v=4.3.0"></script>
<script src="https://www.epa.gov/core/misc/progress.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/modules/responsive_image/js/responsive_image.ajax.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/misc/ajax.js?v=9.2.6"></script>
<script src="https://www.epa.gov/core/themes/stable/js/ajax.js?v=9.2.6"></script>
<script src="https://www.epa.gov/modules/contrib/views_ajax_get/views_ajax_get.js"></script>
<script src="https://www.epa.gov/modules/custom/epa_alerts/js/epaAlerts.js" defer async></script>

<!--DO NOT REMOVE-->
<script type="text/json" id="pl-pattern-data-footer" class="pl-js-pattern-data">
  {
    "cssEnabled": false,
    "patternLineageExists": true,
    "patternLineages": [
      {
        "lineagePattern": "uswds-banner",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/uswds-banner-banner/uswds-banner-banner.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert--emergency",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--emergency/components-site-alert-site-alert--emergency.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert/components-site-alert-site-alert.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert--information",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--information/components-site-alert-site-alert--information.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "layouts-header",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/layouts-header-header/layouts-header-header.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-logo",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-logo-site-logo/components-site-logo-site-logo.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-search--epa",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-search-search--epa/components-search-search--epa.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-toggle-admin",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-toggle-admin-toggle-admin/components-toggle-admin-toggle-admin.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-nav--epa",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-nav-nav--epa/components-nav-nav--epa.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--main",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--main/components-menu-menu--main.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-web-area-title",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-web-area-title-web-area-title/components-web-area-title-web-area-title.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "templates-page",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/templates-detail-pages-page/templates-detail-pages-page.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-footer",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-footer-footer/components-footer-footer.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--footer",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--footer/components-menu-menu--footer.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--social",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--social/components-menu-menu--social.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-back-to-top",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-back-to-top-back-to-top/components-back-to-top-back-to-top.rendered.html",
        "lineageState": "complete"
      }
    ],
    "lineage": [
      {
        "lineagePattern": "uswds-banner",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/uswds-banner-banner/uswds-banner-banner.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert--emergency",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--emergency/components-site-alert-site-alert--emergency.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert/components-site-alert-site-alert.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-alert--information",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--information/components-site-alert-site-alert--information.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "layouts-header",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/layouts-header-header/layouts-header-header.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-site-logo",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-site-logo-site-logo/components-site-logo-site-logo.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-search--epa",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-search-search--epa/components-search-search--epa.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-toggle-admin",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-toggle-admin-toggle-admin/components-toggle-admin-toggle-admin.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-nav--epa",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-nav-nav--epa/components-nav-nav--epa.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--main",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--main/components-menu-menu--main.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-web-area-title",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-web-area-title-web-area-title/components-web-area-title-web-area-title.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "templates-page",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/templates-detail-pages-page/templates-detail-pages-page.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-footer",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-footer-footer/components-footer-footer.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--footer",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--footer/components-menu-menu--footer.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-menu--social",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--social/components-menu-menu--social.rendered.html",
        "lineageState": "complete"
      },
      {
        "lineagePattern": "components-back-to-top",
        "lineagePath": "https://www.epa.gov/themes/epa_theme/patterns/components-back-to-top-back-to-top/components-back-to-top-back-to-top.rendered.html",
        "lineageState": "complete"
      }
    ],
    "patternLineageRExists": false,
    "patternLineagesR": [],
    "lineageR": [],
    "patternLineageEExists": true,
    "patternDesc": "",
    "patternBreadcrumb": { "patternGroup": "pages", "patternSubgroup": "" },
    "patternExtension": "twig",
    "patternName": "EPA Standard Template",
    "patternPartial": "pages-standalone-template",
    "patternState": "inprogress",
    "patternEngineName": "twig-php",
    "extraOutput": {}
  }
</script>

<script>
  window.patternData = {
    cssEnabled: false,
    patternLineageExists: true,
    patternLineages: [
      {
        lineagePattern: "uswds-banner",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/uswds-banner-banner/uswds-banner-banner.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert--emergency",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--emergency/components-site-alert-site-alert--emergency.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert/components-site-alert-site-alert.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert--information",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--information/components-site-alert-site-alert--information.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "layouts-header",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/layouts-header-header/layouts-header-header.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-logo",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-site-logo-site-logo/components-site-logo-site-logo.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-search--epa",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-search-search--epa/components-search-search--epa.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-toggle-admin",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-toggle-admin-toggle-admin/components-toggle-admin-toggle-admin.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-nav--epa",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-nav-nav--epa/components-nav-nav--epa.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--main",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--main/components-menu-menu--main.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-web-area-title",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-web-area-title-web-area-title/components-web-area-title-web-area-title.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "templates-page",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/templates-detail-pages-page/templates-detail-pages-page.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-footer",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-footer-footer/components-footer-footer.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--footer",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--footer/components-menu-menu--footer.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--social",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--social/components-menu-menu--social.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-back-to-top",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-back-to-top-back-to-top/components-back-to-top-back-to-top.rendered.html",
        lineageState: "complete",
      },
    ],
    lineage: [
      {
        lineagePattern: "uswds-banner",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/uswds-banner-banner/uswds-banner-banner.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert--emergency",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--emergency/components-site-alert-site-alert--emergency.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert/components-site-alert-site-alert.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-alert--information",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-site-alert-site-alert--information/components-site-alert-site-alert--information.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "layouts-header",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/layouts-header-header/layouts-header-header.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-site-logo",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-site-logo-site-logo/components-site-logo-site-logo.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-search--epa",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-search-search--epa/components-search-search--epa.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-toggle-admin",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-toggle-admin-toggle-admin/components-toggle-admin-toggle-admin.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-nav--epa",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-nav-nav--epa/components-nav-nav--epa.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--main",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--main/components-menu-menu--main.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-web-area-title",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-web-area-title-web-area-title/components-web-area-title-web-area-title.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "templates-page",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/templates-detail-pages-page/templates-detail-pages-page.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-footer",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-footer-footer/components-footer-footer.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--footer",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--footer/components-menu-menu--footer.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-menu--social",
        lineagePath: "https://www.epa.gov/themes/epa_theme/patterns/components-menu-menu--social/components-menu-menu--social.rendered.html",
        lineageState: "complete",
      },
      {
        lineagePattern: "components-back-to-top",
        lineagePath:
          "https://www.epa.gov/themes/epa_theme/patterns/components-back-to-top-back-to-top/components-back-to-top-back-to-top.rendered.html",
        lineageState: "complete",
      },
    ],
    patternLineageRExists: false,
    patternLineagesR: [],
    lineageR: [],
    patternLineageEExists: true,
    patternDesc: "",
    patternBreadcrumb: { patternGroup: "pages", patternSubgroup: "" },
    patternExtension: "twig",
    patternName: "EPA Standard Template",
    patternPartial: "pages-standalone-template",
    patternState: "inprogress",
    patternEngineName: "twig-php",
    extraOutput: {},
  };
</script>

<script>
  /*!
    * scriptLoader - v0.1
    *
    * Copyright (c) 2014 Dave Olsen, http://dmolsen.com
    * Licensed under the MIT license
    *
    */

  var scriptLoader = {
    run: function (js, cb, target) {
      var s = document.getElementById(target + "-" + cb);
      for (var i = 0; i < js.length; i++) {
        var src = typeof js[i] != "string" ? js[i].src : js[i];
        var c = document.createElement("script");
        c.src = "https://www.epa.gov/themes/epa_theme/" + src + "?" + cb;
        if (typeof js[i] != "string") {
          if (js[i].dep !== undefined) {
            c.onload = (function (dep, cb, target) {
              return function () {
                scriptLoader.run(dep, cb, target);
              };
            })(js[i].dep, cb, target);
          }
        }
        s.parentNode.insertBefore(c, s);
      }
    },
  };
</script>

<script id="pl-js-polyfill-insert-1649262198883">
  (function () {
    if (self != top) {
      var cb = "1649262198883";
      var js = [];
      scriptLoader.run(js, cb, "pl-js-polyfill-insert");
    }
  })();
</script>

<script type="module">
  // always load Pattern-specific JS so UI like accordions, etc can continue to work even when viewed as a standalone HTML page
  import("https://www.epa.gov/themes/epa_theme/styleguide/js/patternlab-pattern.modern.js");
</script>

<script id="pl-js-insert-1649262198883" nomodule>
  /*! loadJS: load a JS file asynchronously. [c]2014 @scottjehl, Filament Group, Inc. (Based on http://goo.gl/REQGQ by Paul Irish). Licensed MIT */
  !(function (e) {
    var t = function (t, n) {
      "use strict";
      var o = e.document.getElementsByTagName("script")[0],
        r = e.document.createElement("script");
      return (
        (r.src = t),
        (r.async = !0),
        o.parentNode.insertBefore(r, o),
        n && "function" == typeof n && (r.onload = n),
        r
      );
    };
    "undefined" != typeof module ? (module.exports = t) : (e.loadJS = t);
  })("undefined" != typeof global ? global : this);

  // always load Pattern-specific JS so UI like accordions, etc can continue to work even when viewed as a standalone HTML page
  loadJS("https://www.epa.gov/themes/epa_theme/styleguide/js/patternlab-pattern.js");
</script>
