{% extends 'main/base.html' %}
<!-- Password reset request form -->
{% block content %}
<h4>Password reset</h4>
<!-- code for displaying success or error message -->
<div class="usa-alert usa-alert--error" role="alert">
    <div class="usa-alert__body">
        {% if form.errors %}
        <h5 class="usa-alert__heading">Please correct the error(s) below.</h5>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        <p class="usa-alert__text">{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Form rendering code for template -->
<form action="" method="post" role="form">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="usa-button" type="submit" value="Submit" />
</form>

{% endblock %}